{{ define "main" }}
<main class="list">
    <div class="site-description">
        <p>A humble attempt to collect interesting links on weekly basis</p>
    </div>

    {{ $pages := where .Site.RegularPages "Section" "reading-list" }}
    {{ range $pages.GroupByDate "2006" }}
        <h3 class="group-title">{{ .Key }}</h3>
        {{ range .Pages }}
        <section class="list-item">
            <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <time>{{ .PublishDate.Format "Jan 2, 2006" }}</time>
        </section>
        {{ end }}
    {{ end }}
</main>
{{ end }}
