.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 5px;
}

.button:hover {
    background-color: #ddd;
    text-decoration: none;
}

.reading-list-button {
    background-color: #9b59b6 !important; /* Purple */
    color: #fff !important;
    margin-left: 12px;
}
.reading-list-button:hover {
    background-color: #8e44ad !important; /* Darker Purple */
    color: #fff !important;
}

/* Improve mobile navigation layout */
nav a {
    display: inline-block;
}

@media (max-width: 700px) {
    nav a {
        margin-bottom: 5px;
    }
}
