name: Build and Deploy

on:
  push:
    branches:
      - master
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Hugo
        if: github.event.action != 'closed'
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.128.0'
          extended: true

      - name: Build
        if: github.event.action != 'closed'
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            REPO_NAME=${GITHUB_REPOSITORY#*/}
            if [ "${{ github.repository }}" = "e-minguez/underkube" ]; then
              HUGO_BASE_URL="https://www.underkube.com/pr-preview/pr-${{ github.event.number }}/"
            else
              HUGO_BASE_URL="https://${{ github.repository_owner }}.github.io/$REPO_NAME/pr-preview/pr-${{ github.event.number }}/"
            fi
            hugo --minify --baseURL "$HUGO_BASE_URL"
          else
            hugo --minify
          fi

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public
          branch: gh-pages
          clean-exclude: pr-preview/
          force: false

      - name: Deploy PR Preview
        if: github.event_name == 'pull_request'
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: public
          preview-branch: gh-pages
          umbrella-dir: pr-preview
